<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deli.demo.dom.mapper.GitstatisticsMapper">
  <resultMap id="BaseResultMap" type="com.deli.demo.dom.user.Gitstatistics">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="application" jdbcType="VARCHAR" property="application" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="added" jdbcType="INTEGER" property="added" />
    <result column="removed" jdbcType="INTEGER" property="removed" />
    <result column="updated" jdbcType="INTEGER" property="updated" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="addno" jdbcType="VARCHAR" property="addno" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="updateno" jdbcType="VARCHAR" property="updateno" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, application, name, added, removed, updated, time, status, addno, addtime, updateno, 
    updatetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gitstatistics
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gitstatistics
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.deli.demo.dom.user.Gitstatistics">
    insert into gitstatistics (id, application, name, 
      added, removed, updated, 
      time, status, addno, 
      addtime, updateno, updatetime
      )
    values (#{id,jdbcType=INTEGER}, #{application,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{added,jdbcType=INTEGER}, #{removed,jdbcType=INTEGER}, #{updated,jdbcType=INTEGER}, 
      #{time,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}, #{addno,jdbcType=VARCHAR}, 
      #{addtime,jdbcType=TIMESTAMP}, #{updateno,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.deli.demo.dom.user.Gitstatistics">
    insert into gitstatistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="application != null">
        application,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="added != null">
        added,
      </if>
      <if test="removed != null">
        removed,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="addno != null">
        addno,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="updateno != null">
        updateno,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="application != null">
        #{application,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="added != null">
        #{added,jdbcType=INTEGER},
      </if>
      <if test="removed != null">
        #{removed,jdbcType=INTEGER},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="addno != null">
        #{addno,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateno != null">
        #{updateno,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.deli.demo.dom.user.Gitstatistics">
    update gitstatistics
    <set>
      <if test="application != null">
        application = #{application,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="added != null">
        added = #{added,jdbcType=INTEGER},
      </if>
      <if test="removed != null">
        removed = #{removed,jdbcType=INTEGER},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="addno != null">
        addno = #{addno,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateno != null">
        updateno = #{updateno,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deli.demo.dom.user.Gitstatistics">
    update gitstatistics
    set application = #{application,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      added = #{added,jdbcType=INTEGER},
      removed = #{removed,jdbcType=INTEGER},
      updated = #{updated,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR},
      addno = #{addno,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      updateno = #{updateno,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>